/* Contêiner principal do chat */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    height: 300px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
  }
  
  /* Área de mensagens */
  .chat-messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #a9b7c6;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  /* Mensagem individual */
  .chat-message-item {
    font-size: 11px;
    word-wrap: break-word;
    text-align: left;
    margin-bottom: 5px;
  }
  
  /* Mensagem do próprio jogador */
  .chat-message-own {
    text-align: right; /* Alinha à direita */
  }
  
  /* Balão ao redor da mensagem */
  .chat-message-content {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    border: 2px solid transparent; /* Borda definida dinamicamente */
    background-color: var(--background-light); /* Fundo claro */
    color: var(--foreground-dark); /* Texto escuro */
  }
  
  .own-bubble {
    background-color: #c8e6c9; /* Cor do balão para o próprio jogador */
    color: #1b5e20; /* Cor do texto */
  }
  
  /* Nome do jogador */
  .chat-player-name {
    font-weight: bold;
    margin-bottom: 5px;
    display: block; /* Nome do jogador aparece acima da mensagem */
  }

  /* Balões com cores de times */
.team-nos {
  border-color: #6897bb; /* Azul do time NOS */

}

.team-eles {
  border-color: #2e86ab; /* Azul do time ELES */

}
  
  /* Contêiner de entrada de mensagem */
  .chat-message-input-container {
    display: flex;
    align-items: center;
  }
  
  /* Campo de texto */
  .chat-message-input {
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid var(--accent);
    border-radius: 6px;
    outline: none;
  }
  


  .chat-send-button {
    width: 100%;
    padding: 10px;
    background-color: #607d8b; /* Mesma cor do botão Criar Sala */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .chat-send-button:hover {
    background-color: #455a64; /* Mesma cor ao passar o mouse */
  }

  .chat-character-counter {
    font-size: 12px;
    color: #607d8b; /* Mesma cor do botão */
    margin-top: 5px;
    text-align: left; /* Alinha o texto à esquerda abaixo do input */
    padding-left: 5px; /* Ajusta a distância da borda esquerda */
  }